body {
  margin: 0;
  padding: 0;
  font-family: 'Bree Serif', serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: 'Bree Serif', serif;, source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */

body {
  background-image: linear-gradient(to right, #ff6961, #ffb347, #fdfd96, #77dd77, #aec6cf, #b19cd9, #9966cc);
}
.FinalColor{
  width: 100%;
  height: 100%;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;

}
/* div {
  width
} */
div.MainColorBox {
  border: 0.5em solid black;
  width: 16em;
  height: 16em;
  margin-right: 0;
  background-image: url("https://i.pinimg.com/originals/52/71/06/527106421a75533b10d4e25741e68334.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.Slider{
  width: 16em;
}
input {
  width: 100%;
  margin: 5px;
  margin: 0
}
.sliderInput {
  margin: auto;
  padding: 1em;
  justify-content: flex-start;
  align-content: center;

}

.Hue {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
  padding: 1em 0;
}

/* .satcolor {
  background-color:  transparent;
} */

.Saturation {
  background-image: linear-gradient(to right, #494949 0%, transparent 100%), linear-gradient(to right, #fff 0%, transparent 0%);
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
  padding: 1em 0;
}

.Light {
  background-image: linear-gradient(to right, #000 0%, transparent 100%), linear-gradient(to right, #fff 0%, transparent 100%);
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
  padding: 1em 0;
}

.alphaImage {
  background-image: url("https://i.pinimg.com/originals/52/71/06/527106421a75533b10d4e25741e68334.jpg");
  background-position: center;
  background-size: contain;
}

.Alpha {
  background-image: linear-gradient(to right, hsla(66, 31%, 94%, 0.18), white);
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
  padding: 1em 0;
  /* background-image: url("https://i.pinimg.com/originals/52/71/06/527106421a75533b10d4e25741e68334.jpg");
  background-repeat:  repeat;
  background-position: center;
  background-size: contain; */
}
form{
  width: 25em;
}
button {
  border: 0.15em solid black;
  padding: 5px;
  border-radius: 0.5em;
  text-transform: capitalize;
  font-style: italic;
  /* width: 10em;
  height: 4em; */
  font-size: 2em;
}


h2{
  margin-top: 0;
}
